*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #3198e2,#6d59c0, #b93590, #e33f5f, #fdd579 );}

main {
    color: white;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #1e1c219b;
    width: 40%;
    height: 400px;
    min-width: 240px;
    max-width: 450px;
    padding: 036px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 36px;
    text-indent: 5px;
}

input,button {
    height: 36px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #b93590;
    color: white;
}

button:hover {
    background-color: #742059;
    color: rgba(255, 255, 255, 0.542);
    cursor: pointer;
}